<div class="container">
  <div class="row pb-3">
    <div class="col-md-4">
      Waiting list:
    </div>
    <div class="col-md-4">
      In progress:
    </div>
    <div class="col-md-4">
      Done:
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <% tasks_waiting_list.each do |task_waiting_list|  %>
          <li class="list-group-item text-capitalize"><%= task_waiting_list.title %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <% tasks_in_progress.each do |task_in_progress|  %>
          <li class="list-group-item text-capitalize"><%= task_in_progress.title %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <% tasks_done.each do |task_done|  %>
          <li class="list-group-item text-capitalize"><%= task_done.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid pt-5">
  <ul class="list-group">
    <% tasks.each do |task| %>
      <li class="list-group-item">
        Task <%= link_to task.title, '#' %>
        assigned to:
        <% task.users.each do |user| %>
          <%= link_to user.username, '#' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      Users:
    </div>
    <div class="col-md-6">
      Admins:
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
     <ul class="list-group text-center">
       <% regular_users.each do |regular_user|%>
        <li class="list-group-item"> <%= regular_user.username %></li>
       <% end %>
     </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group text-center">
        <% admin_users.each do |admin_user|%>
          <li class="list-group-item"> <%= admin_user.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!--Just to be able to scroll as to check if navbar is fixed-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>.</h1>
