<div class="container">
  <div class="row">
    <div class="col-md-12 text-center display-4">
      Task: <span class="text-success"> <%= task.title %></span>
    </div>
  </div>

  <% if policy(task).edit? %>
    <div class="row">
      <div class=" col-md-12 text-center display-2" >
        <%= link_to "Edit this task", edit_task_path(task.id), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row pt-3">
    <div class="col-md-2">
      Title:
    </div>
    <div class="col-md-6">
      <%= task.title %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-2">
      Description:
    </div>
    <div class="col-md-6">
      <%= task.description %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-2">
      Status:
    </div>
    <div class="col-md-6">
      <%= task.status %>
    </div>
  </div>
    <div class="row pt-3">
      <div class="col-md-2">
        Task creator:
      </div>
      <div class="col-md-6">
        <%= link_to task.creator_name, "#" %>
      </div>
    </div>
  <div class="row pt-3">
    <div class="col-md-2">
      Task creator:
    </div>
    <div class="col-md-6">
      <a href="#"><%= task.creator.username %></a>
    </div>
  </div>
  <div class="row p-t-3">
    <div class="col-md-2">
      Users assigned:
    </div>
    <div class="col-md-6">
      <% task.users.each do |user|  %>
        <span class="pr-2"> <%= link_to user.username, "#" %> </span>
      <% end %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-2">
      Start date
    </div>
    <div class="col-md-6">
      <%= task.normal_start_date %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-2">
      Finish date
    </div>
    <div class="col-md-6">
      <%= task.normal_end_date %>
    </div>
  </div>
</div>
