e<div class="container">
  <div class="row pb-3">
    <div class="col-md-4">
      Waiting list:
    </div>
    <div class="col-md-4">
      In progress:
    </div>
    <div class="col-md-4">
      Done:
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <% tasks_waiting_list.each do |task_waiting_list|  %>
          <li class="list-group-item text-capitalize"><%= task_waiting_list.title %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <% tasks_in_progress.each do |task_in_progress|  %>
          <li class="list-group-item text-capitalize"><%= task_in_progress.title %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <% tasks_done.each do |task_done|  %>
          <li class="list-group-item text-capitalize"><%= task_done.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if policy(:dashboard).create_task? %>
  <div class="container pt-3 text-center">
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Create new task', new_task_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>

<div class="container-fluid pt-3">
  <ul class="list-group">
    <% tasks.each do |task| %>
      <li class="list-group-item">
        Task <%= link_to task.title, task_path(task) %>
        Assigned to:
        <% task.users.each do |user| %>
          <%= link_to user.username, '#' %>
        <% end %>
        Created by:
        <%= link_to task.creator_name, '#' %>
        <% if task.start_date.present? %>
          Start time: <span class="text-success"> <%= task.normal_start_date %> </span>
        <% end %>
        <% if task.end_date.present? %>
          End time: <span class="text-success"><%= task.normal_end_date %> </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container pt-5">
  <div class="row">
  <% if regular_users.present? %>
    <div class="col-md-6">
      Users:
    </div>
  <% end %>
  <% if admin_users.present? %>
    <div class="col-md-6">
      Admins:
    </div>
  <% end %>
  </div>
  <div class="row">
    <% if regular_users.present? %>
      <div class="col-md-6">
       <ul class="list-group text-center">
         <% regular_users.each do |regular_user|%>
          <li class="list-group-item"> <%= regular_user.username %></li>
         <% end %>
       </ul>
      </div>
    <% end %>
    <% if admin_users.present? %>
      <div class="col-md-6">
          <ul class="list-group text-center">
            <% admin_users.each do |admin_user|%>
              <li class="list-group-item"> <%= admin_user.username %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
  </div>
</div>
<!--Just to be able to scroll as to check if navbar is fixed-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>.</h1>
