<!DOCTYPE html>
<html>
  <head>
    <title>PetTaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="tp-8">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
  </body>
</html>
